.task {
    background-color: white;
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    border: solid 0.3px #94A6B2;
    border-radius: 5px;
    padding: 5px 5px 5px 15px;
    margin-left: 15px;
    margin-top: 5px;
}

.status-box {
    border: solid 0.3px black;
    border-radius: 5px;
}

.task_name {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
    height: 30px;
}

.due-date {
    justify-content: baseline;

}

.status-box {
    margin-right: 5px;
}