.plan-page {
    width: 100%;
    height: 100%;
    background: url(https://cdn.hubblecontent.osi.office.net/getty/publish/gettyimages/gettyimages-666727842_super.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    position: relative;
}

.plan-page::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.2) 50%);
}

.nav-bar {
    display: flex;
    padding: 10px;
    height: 60px;
    align-items: center;
    /* background-color: rgb(213 234 245); */
}

.nav-bar >*:hover {
    cursor: pointer;
}

#plan-name-input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 400;
}

.features {
    margin: 0 30px 0 80px;
    display: flex;
    gap: 20px;
}

.active {
    border-bottom:solid 0.3px #42AB11;
}

.avatars {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.Members {
    margin: 0 20px 0 20px;
}

.member-dropdown {
    color: black;
}

.plan-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: #CB20C6;
}

.add-task-btn {
    margin: 15px;
    padding: 5px;
    width: 125px;
    border: 0.1px solid #94A6B2;
    border-radius: 5px;
}

.add-task-btn:hover {
    color: #56B3F4;
    border-color: #56B3F4;
    cursor: pointer;
}

.delete-plan-icon:hover{
    color: red;
}

.switch-page {
    /* overflow-x: hidden; */
    width: 100%;
    height: 100%;
}

.filter-item {
    width: 120px;
    background-color: transparent;
    border: none;
}

.filter-item .ant-select-selector {
    border: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(200, 198, 196);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 10px;
}

.search-btn {
    text-align: center;
}